<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - भारत नव निर्माण</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/fonts/FontStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header" style="float:left;">
                <div style="padding:10px;margin-left:-40px;display:block;opacity:1;">
                    <img src="~/Content/Images/BnnLogo.png" style="width:150px;height:100px;" />
                </div>

             </div>
            @Html.Partial("_SocialMedia")

            <div class="navbar-collapse collapse" style="width:80%;margin-left:150px;margin-top:-20px;">
                @Html.Partial("_LoginPartial")
                @*<ul class="nav navbar-nav">*@
                <ul class="nav navbar-nav">
                    <li> @Html.ActionLink("पहला पन्ना", "Index", "Home")</li>
                    <li>@Html.ActionLink("भारत नव निर्माण", "About", "Home")</li>
                    <li>@Html.ActionLink("दूरदर्शिता और मिशन", "दूरदर्शिता_और_मिशन", "Home")</li>
                    <li>@Html.ActionLink("भारत दर्शन", "भारत_दर्शन", "Home")</li>
                    <li>@Html.ActionLink("भारतीय संविधान", "भारतीय_संविधान", "Home")</li>
                    <li>@Html.ActionLink("राजनीति संयोजन", "राजनीति_संयोजन", "Home")</li>
                    <li>@Html.ActionLink("पुस्तकालय", "पुस्तकालय", "Home")</li>
                    <li>@Html.ActionLink("योजना", "योजना", "Home")</li>
                    <li>@Html.ActionLink("सूचना खिड़की", "सूचना_खिड़की", "Home")</li>
                    <li>@Html.ActionLink("सेवा खिड़की", "सेवा_खिड़की", "Home")</li>
                    <li>@Html.ActionLink("प्रकाशन", "प्रकाशन", "Home")</li>
                    <li>@Html.ActionLink("आवेदन प्रपत्र", "आवेदन_प्रपत्र", "Home")</li>
                    <li>@Html.ActionLink("आइकॉन", "आइकॉन", "Home")</li>
                    <li>@Html.ActionLink("सूचना का अधिकार", "सूचना_का_अधिकार","Home")</li>
                    <li>@Html.ActionLink("संपर्क", "Contact", "Home")</li>
                </ul>                
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="font-family:Arial;">Copy Right <span class="glyphicon glyphicon-copyright-mark"/> @DateTime.Now.Year-@DateTime.Now.AddYears(5).Year @Resources.BNNResource.FooterText</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
