@{
    ViewBag.Title = "भारत नव निर्माण ";
}

<div class="row">
    <div class="col-md-4">

        @Html.Partial("_BnnApp")
    </div>
    <div class="col-md-4">
        @Html.Partial("_BharatMap")
    </div>
    <div class="col-md-4">
        @Html.Partial("_BussinessPartner")
    </div>
</div>
<div class="row">
    <div class="col-md-4">

        @Html.Partial("_ChangeToBharat")
    </div>
    <div class="col-md-4">
        @Html.Partial("_BharatSurvey")
    </div>
    <div class="col-md-4">

    </div>
</div>

